*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Mix */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.gray-background {
    background-color: #f4f9fd;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.container {
    width: 70%;
    height: 100%;
    margin: auto;
}
.container-50{
    width: 50%;
    margin: auto;
}
.container-60{
    width: 60%;
}
.whitebox-shadow {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(50 73 91 / 30%); 
}
a {
    text-decoration: none;
}
a:visited {
    color: none;
}
.menu-item li {
    line-height: 75px;
    color: #667785;
    text-transform: capitalize;        
}
.check-list {
    list-style: none;
    color: #667785;
    text-transform: capitalize;
    text-align: left;
    margin-bottom: 30px;
    line-height: 25px;
}
.menu-item li a {    
    padding: 0 15px;    
}
.inline-list li {
    display: inline-block;
    list-style: none;
    margin-left: 5px;
}

/* Stile intestazioni */
h1, h2, h3, h4, h5, p {
    color: #31475B;
    padding: 17px 0px;
}
h1 {
    font-size: 3.3em;
}
h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 1.8em;
    /* font-weight: 400; */
}
h4 {
    font-size: 1.17em;
    font-weight: 400;
    line-height: 1.3em;
}

h5 {
    font-weight: 300;
}

/* header */
header {
    margin: auto;
    background-color: #fff;
}
.header-top-stickynav {
    height: 75px;
    border-bottom: 2px solid rgb(210, 216, 221);
}
.header-top-stickynav-left{
    float: left;
    width: 50%;    
}
.header-top-stickynav-left .menu-item a{
    color: #667785;
    line-height: 75px;
    text-transform: capitalize;
}
.header-top-stickynav-left .menu-item a:last-child {
    border-right: 0px;
}
.header-top-stickynav-left .menu-item a:not(:first-child) {
    border-right: 1px solid #667785;
}
.fa-search {
    color: #81D1DF;
}
.header-top-stickynav-right {
    float: left;
    width: 50%;
    text-align: right;
}
.btn {
    display: inline-block;
    min-width: 100px;    
    color: #FD7658;
    border: 2px solid #FD7658;
    border-radius: 5px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin-right: 10px;
}
.btn:hover {
    background-color: #cf644c;
    color:#fff ;
    border-color: #cf644c;
}
.btn-orange {
    color: #fff;
    background-color: #FD7658;
}
.btn-orange-big {
    min-width: 200px;
    height: 70px;
    line-height: 70px;
}
.header-top-navmenu{
    background-color: #fff;
    height: 75px;
}
.header-top-navmenu-logo{
    float: left;
    width: 20%;
    line-height: 75px;
    padding-left: 20px;
}
.header-top-navmenu-logo img {
    width: 80px;
}
.header-top-navmenu-right {
    float: left;
    width: 80%;
    text-align: right;
    line-height: 75px;
}
.header-top-navmenu-right li a {
    color: #667785;
}
.banner {
    background-image: url(../img/jumbotron.png);
    background-repeat: no-repeat;
    height: 528px;
    background-position: right;
    background-color: #fff4ef;
}
.banner-text {
    width: 35%;    
}
.fa-std-margin {
    /* color: #667785; */
    margin-left: 10px;
    margin-right: 3px;
}
.separator {
    height: 80px;
    background-color: #AFECE4;
    border-top: solid 3px #478087;
    border-bottom: solid 3px #478087;
}

/* sezione principale */
/* sezione powerful */
#powerful-section {
    height: 1520px;
    text-align: center;
}
#powerful-alone{
    margin: auto;
    text-align: center;
}
#powerful-alone img {
    margin-top: 40px;
    width: 200px;
}

#powerful-hubspot {
    height: 360px;       
}
#powerful-left {
    float: left;
    width: 25%;
    height: 100%;
    padding-top: 50px;
}
#powerful-left img {
    width: 170px;
    margin-bottom: 30px;
}
#powerful-right {
    float: left;
    width: 75%;
    height: 100%;
    padding-top: 50px;
    text-align: left;
}
#powerful-right-popular-feature-text {
    float: left;
    width: 20%;
    min-height: 20px;
    font-size: 1.17em;
    color: #31475B;
    font-weight: 500;
}
#powerful-right-popular-feature-space {
    float: left;
    width: 8%;
    min-width: 100px;
    background-color: red;
    content: " ";
}
#powerful-right-popular-feature-line {
    float: left;
    width: 60%;
    padding: 8px;
}
.fa-check-orange {
    margin-left: 0px;
    color: #FD7658;
}
#powerful-3float {
    margin-top: 50px;    
}
.powerful-3float-box {
    float: left;
    width: 30%;
    min-height: 650px;
    text-align: center;
    padding: 20px 40px;
}
.powerful-3float-box-top, .powerful-3float-box-bottom {
    height: 50%;
}
.powerful-3float-box img {
    height: 100px;
    /* margin-top: 20px; */
    
}
.powerful-3float-spaces {
    float: left;
    width: 5%;
    min-height: 650px
}
/* sezione gradient */
#gradient-section {
    background: linear-gradient(45deg,#00a5bc, #00bba6);
    height: 1000px;
    padding-top: 40px;
    text-align: center;
}
#gradient-section-top h2, #gradient-section-top h4 {
    color: #fff;
    margin-bottom: 45px;
}
#gradient-section-bottom {
    margin-top: 80px;
}
.gradient-section-row:not(:last-child) {
    border-bottom: 2px solid #fff;
}

.gradient-section-row-item {
    float: left;
    width: 25%;
}
.gradient-section-row-item:not(:last-child){
    border-right: 2px solid #fff;  
}
.gradient-section-row-item h2, .gradient-section-row-item h5 {
    color: #fff;
}
.gradient-section-row-item img {
    height: 40px;
    margin-top: 40px;
}

/* sezione startgrowing */
#start-growing {
    height: 720px;
    text-align: center;
}
#start-growing-top-left {
    float: left;
    width: 14%;

}
#start-growing-top-right {
    float: right;
    width: 60%;
    min-height: 212px;
    margin-top: 55px;
}
.start-growing-top-right-row-logo {
    float: left;
    width: 25%;
     height: 40px;
}
.start-growing-top-right-row-logo img {
    width: 120px;
    max-height: 40px;
    vertical-align: middle;    
}
#start-growing-bottom-left {
    float: left;
    width: 40%;
    text-align: left;
}
#start-growing-bottom-left p {
    margin: 50px 0px;
}
#start-growing-bottom-right {
    float: left;
    width: 60%;
    min-height: 400px;
}
#start-growing-bottom-right img {
    height: 400px;
}
/* footer */

footer {
    background-color: #324958;
    min-height: 620px;
    color: #cbd6e2;
}
footer a {
    color: #cbd6e2;
    text-decoration: none;
    
    
}
footer a:visited {
    color: #cbd6e2;
}
footer a:hover {
    color: aquamarine;
}

.footer-coloumn {
    margin-top: 40px;
    float: left;
    width: 24%;
    margin-right: 1%;
}
.footer-coloumn h4 {
    color: #fff;
    font-weight: 700;
}
.footer-list {
    list-style: none;
    line-height: 40px;
    text-transform: capitalize;    
}
.btn-grey, .btn-grey:visited {
    background-color: #DADEE0;
    color: #324958;
    border-color: rgba(255, 255, 255, 0.8);
    margin: 20px 0px;    
} 
.btn-grey:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
    border-color: rgba(255, 255, 255, 0.8);    
}
.social-list, #language-list {
    list-style: none;    
}
.social-list li, #language-list li {
    display: inline-block;
}
.social-list li a {
    padding-right: 23px;
}
.social-logo {
    font-size: 20px;
    color: #cbd6e2;
}
#footer-languages {
    margin-top: 50px;
    border-bottom: 1px solid #cbd6e2;
}
#language-list {
    text-align: center;
    margin-bottom: 10px;
}
#language-list li {
    margin-right: 60px;
}
#footer-legal-logo {
    float: left;
    width: 20%;
}
#footer-legal-stuff {
    float: right;
    width: 50%;
}
#footer-legal {
    padding: 30px 0;
}
#legal-privacy-list {
    text-align: right;    
}
#legal-privacy-list li {
    margin-left: 30px;
}


